<!-- 
Anything you make in here will be duplicated in both sides of clock

To switch sides call "switchSides() in the shared JS file"
 -->
<div id="clock" class="center">
    <p>
        <button class="next" id="countdown">Time left</button>
        <button class="reset" onclick = "onClickFunction()">Reset</button>
        <button class="start" id="start" onclick="onClick2()">Start</button>
        <button class="Pause" id="Pause" onclick="onClickPause()">Pause</button>
        <input id = "minutes"; input type = "text" name="Minutes" placeholder = "Minutes"/>
        <input id = "seconds"; input type = "text" name="Seconds" placeholder = "Seconds"/>
        Cool Website for clocks: https://usejquery.com/css/css-countdown/
    </p>
</div>