<!-- 
Anything you enter in this file will be duplicated in main.html on both sides
Note that I ended the src file in autoplay and loop.  Might need to concatenate the user's videos with that when switch sides? 



UGH this site does it well: https://www.timer-tab.com/

GOAL1: Leave area up and make user choose between Youtube and Spotify.  Make two buttons
 -->

<div id="mediaPlayer" class="center">

<div id="mediaPlayerChoice">
    <button class="mediaChoice" onclick=mediaChoice("spotify")>Listen to Spotify?</button>
    <button class="mediaChoice" onclick=mediaChoice("youtube")>Watch/Listen to Youtube?</button>
</div>


<!-- 
    SPOTIFY SPACE HOLDER
-->




</div>
