
<div id='navbar'> 
    <section class="container-navbar">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <a href="/login">
        <img src="../../static/pictures/panda_logo_visible.png" alt="logo" id="logoNavbar">
        </a>
        <h1 style="color: white;
                    background-color: black; border-radius: 30px;">Panda Clock</h1>
    </section> 
    <div class="bottom-bar"></div> 
</div>