 <!-- 
        SPOTIFY SPACE HOLDER
    -->  
    <div class="spotify-container center">  
        <div >
            <label for="myPlaylistChoices2"><a href="/playlists"></a></label>
            {% if playlists %}  
                <select class="playlist-choice" id="myPlaylistChoices" name="myPlaylistChoices" onchange="spotifySwitchPlaylist()">
                    {% for item in playlists['items'] %} 
                    <option data-playlist-id="{{item.id}}" value="volvo">{{item.name}}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
    
        <div id="mediaPlayer" class="center">
            {% if playlist_id %}
                <iframe class="spotify-iframe" id="spotify-playlist-iframe" src= "https://open.spotify.com/embed/playlist/{{playlist_id}}"
                frameborder="0" 
                allowtransparency="true" 
                allow="encrypted-media" 
                height = "90%"
                allowfullscreen="" 
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
                </iframe>
            {% endif %}
        </div>
    </div>
    <script>   
           // each time user selects a playlist, the id gets updated in iframe src
           function spotifySwitchPlaylist(){
            //var x = document.getElementById("myPlaylistChoices").value;
            var i = document.getElementById("myPlaylistChoices").selectedIndex;
            console.log("i val: ",i);
            var playlist = document.getElementById("myPlaylistChoices").options[i];
            var playlist_id=playlist.getAttribute("data-playlist-id");
            console.log("Playlist id selected: ", playlist_id);
            var sp_iframe=document.getElementById("spotify-playlist-iframe")
            console.log("playlist id: ", playlist_id);
            console.log("src:  ", sp_iframe.src);
            sp_iframe.src="https://open.spotify.com/embed/playlist/" + playlist_id;
            console.log(sp_iframe.src);  
        }
    </script>