
<div id="player"></div>
<div id="videoChooseInput">
    <input type="text" id="Video Name" name="vidName" placeholder="Input Name for a Youtube Videozzzzzz">
    <input type="text" id="urlYoutube" name="vidURL" placeholder="Input URL for a Youtube Videozzzzzz">
    <button onclick=changeYoutube()>Play Video:</button>
    <button onclick=returnMain()>Go back:</button>
    <button onclick=storeVideo()>saveVideo:</button>
    <div class='videoStored'>
      <table>
        <tbody id="savedVideos">
          {% for vid in usrVideos %}
          <tr id={{ vid.video_id }}>
            <td>{{ vid.video_id }}</td>
            <td>{{ vid.given_name }}</td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    </div>
</div>


