<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='icon' href='../../static/pictures/panda_logo_visible.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="../static/stylesheets/navbar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%;">
        {% include './sharedTemplates/navbar.html' %}
    </div>
    <h1>admin</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Account Creation Date</th>
          <th>Delete</th>
        </tr>
        {% for usr in users %}
        <tr>
          <td>{{ usr.userID }}</td>
          <td>{{ usr.username }}</td>
          <td>{{ usr.dateAdded }}</td>
          <td>
              <form method ="post" action="">
                <button type="submit" name="delete_user" value={{ usr.userID }}>DELETE</button>
              </form>
            </td>
        </tr>
        {% endfor %}
      </table>


      <table>
        <tr>
          <th>Video ID</th>
          <th>Youtube ID</th>
        </tr>
        {% for vid in videos %}
        <tr>
          <td>{{ vid.videoID }}</td>
          <td>{{ vid.youtubeID }}</td>
        </tr>
        {% endfor %}
      </table>
      <table>
        <tr>
          <th>User ID</th>
          <th>Video ID</th>
          <th>Video Name</th>
        </tr>
        {% for usrVid in userVideos %}
        <tr>
          <td>{{ usrVid.user_id }}</td>
          <td>{{ usrVid.video_id }}</td>
          <td>{{ usrVid.given_name }}</td>
        </tr>
        {% endfor %}
      </table>

</body>
</html>