<!-- 
    REMINDER:  TO START THE PROJECT:   
        export FLASK_APP=pomodoro_routing    
        export FLASK_ENV=development  
        flask run


    TEMPLATING:
    Jinja2
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/mainstylesheet.css">
    <title>Pomodoro!</title>
</head>
<body>
<!-- Link the nav bar using Jinja :D  -->
<div style="width: 100%;">

{% include './sharedTemplates/navbar.html' %}
</div>




<!-- End nav bar -->



<div id="mainContainer" class="picture">
<!-- Split into 2:   one for work and one for chill -->
    <div class="split work animateGrowWork" id= "workSide">
        {% include './sharedTemplates/clock.html' %}        
        {% include './sharedTemplates/mediaPlayer.html' %}
        <button id="chillButton" onclick="switchSides()">Work Button Grow</button>
    </div>



    <div class="split chill animateShrinkChill" id="chillSide">
        {% include './sharedTemplates/clock.html' %}
        {% include './sharedTemplates/mediaPlayer.html' %}
        <button id="chillButton" onclick="switchSides()">Chill Button Grow</button>
    </div>
    



</div>
</body>

<!-- import all our scripts -->
{% include './sharedTemplates/scriptLog.html' %}

</html>