/* 
Begin work for the navbar
 */
 #navbar{
    background-color: gray; 
    display: block;
    max-height:10%;
    width: 100%;
    min-width:100% !important;
 }
#logoNavbar{
    max-height: 50px;
    width:auto;
    opacity:1;
}





/* 
Begin work for main.html
 */
*{
    overflow: hidden;
    margin: 0;
}
.background{
    width:120%;
    height:100%;
    z-index: -2;
    position:absolute;
    background-image: url(../pictures/bamboo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

#mainContainer{
    width:200%;
    height:94%;
    position: fixed;
    
}
.split {
    top: 0;
    width:40%;
    padding-top: 20px;
    
    height:100%;
  }
.work {
    left:0;
    float: left;
}
.animateGrowWork{
    animation:slide-in-left 3s cubic-bezier(.55, .085,.68,.53) 1s both;
}
@keyframes slide-in-left{
    0%{transform:translateX(-35%);opacity:1}
    100%{transform:translateX(0%);opacity:1}
}
.animateGrowWorkBg{
  animation:slide-in-left-bg 3s cubic-bezier(.55, .085,.68,.53) 1s both;
}
@keyframes slide-in-left-bg{
  0%{transform:translateX(-10%);opacity:1}
  100%{transform:translateX(0%);opacity:1}
}

.animateShrinkWork{
    animation:slide-out-left 3s cubic-bezier(.55, .085,.68,.53) 1s both;
}
@keyframes slide-out-left{
    0%{transform:translateX(0%);opacity:1}
    100%{transform:translateX(-35%);opacity:1}
}
.animateShrinkWorkBg{
  animation:slide-out-left-bg 3s cubic-bezier(.55, .085,.68,.53) 1s both;
}
@keyframes slide-out-left-bg{
  0%{transform:translateX(0%);opacity:1}
  100%{transform:translateX(-10%);opacity:1}
}
.chill {
    right:0;
}
.pawWork {
  position: relative;
  height:90%;
  width:10%;
  z-index: -2;
  float: right;
  top: -75%;
  
}
.pawChill {
  position: relative;
  height:90%;
  width:10%;
  z-index: -2;
  float: left;
  transform: rotate(180deg);
  top: -100%;
  


}






/* 
    BEGIN CSS FOR CLOCK
*/
.center{
    margin: auto;
    
}
#clock {
    margin-top: 5%;
    outline: blue groove 1px;
    height: 25%;
    width: 30%;
    -webkit-animation: clockEntrance 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s both;
    animation: clockEntrance 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s both;
}
@-webkit-keyframes clockEntrance {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes clockEntrance {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  











/* 
BEGIN CSS FOR MEDIAPLAYER
*/
#mediaPlayer {
  margin-top: 5%;
  height:45%;
  width:50%;
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(114, 159, 68, 0.7);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16.6px);
-webkit-backdrop-filter: blur(16.6px);
border: 1px solid rgba(114, 159, 68, 0.67);
}
#urlYoutube{
  color: white;
  padding: 3%;
  margin: 5%;
  width: 30%;
  border-radius: 15px;
  box-shadow: inset 20px 20px 78px #618740,
  inset -20px -20px 78px #83b756;
  background: #35587b;
}
